#map iframe
{
    width: 50%;
    float: left;
    padding-top: 5px;
}

.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
#footer{
  height: 20px;
  background-color:white;
  }

input
{
    background: grey
}

.announcement{
background-color:#337ab7;
width: 100%;
height: 30px;
}

#marqueeStyle{
  width:100%;
  direction:right;
  height:100px;
  color: beige;
  font-size:120%;
}

#img_skl{
  width:100%;
  height:500px;
  border: none;
}
input
{
    background: grey;
}
.my_nav_bar
{
    position: sticky;
    top: 0;
    z-index:99999;
    
}


html {
 scroll-behavior: smooth;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.travel
{
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 1px solid #c7c7c7;
}

.travel img
{
  width: 100%;
  height:300px;
} 

.travel hr
{
    width: 100%; 
}

.travel h5 , .travel p
{
margin-left: 20px;
}


#achievementID{
 padding-bottom: 10px;
}
.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i
{
float: right;
}

.movie_text span
{
color: #ff7700;
}
.environment_li
{
  margin-top: 13px;
}

.environment_li h4
{
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img
{
  border-radius: 25px;
  height: 250px;
}

.environment_li p
{
  margin-top:10px;
}

#aluminiList img{
height:250px;
}
.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
  }
.p_modal
  {
      margin-top: 10px;
}
.modal-body
{
    text-align: center
}


